/* CSS File for BMI Website */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Poppins";
}

.title {
    margin: 10px 45px;
    background-color: #7fffd4;
    background-size: auto;
    border: 3px solid black;
    border-radius: 10px;
    display:flex;
}

.title .box {
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 800px) {
    .title {
      flex-direction: column;
    }
    .title .box {
        margin:5px;
    }
  }

.title-text {
    text-align: center;
    font-family: "Montserrat";
}

form {
    padding:12px;
    background-color: aliceblue;
}

main {
    display:flex;
}

aside {
    padding:48px;
    padding-top: 10px;
}

.button {
    height:32px;
    border: none;
    border-radius:4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-cornsilk {
    background-color: cornsilk;
}

.bg-reset {
    background-color: red;
    color:white;
}

input[type=number] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

footer {
    text-align:center;
}